<h1>Drive Listing <i class="fa fa-hdd"></i></h1>
<div *ngIf="hasChecks()">
  <code>{{getZFSCommand()}}</code>
</div>
<div class="row" class="text-small">
  <table class="table" *ngIf="infoList">
    <thead>
      <tr>
        <th style="cursor: pointer;" (click)="selectSortBy(col)" *ngFor="let col of columns">
          <i *ngIf="sortField===col" class="fa" [ngClass]="{'fa-chevron-down': isDesc,'fa-chevron-up': !isDesc}"></i>{{ col }}
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let d of getOrderedList(infoList); let i = index">
      <tr>
        <td>
          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="isChecked[d.id]"/>
          </div>
        </td>
        <td>{{ d.id }}</td>
        <td>{{ d.serialNumber }}</td>
        <td>{{ d.modelName }}</td>
        <td>{{ d.modelFamily }}</td>
        <td>{{ d.formFactor }}</td>
        <td>{{ d.blockCount }}</td>
        <td>{{ d.bytesCount }}</td>
        <td>{{ d.firmwareVersion }}</td>
        <td>{{ d.rpm }}</td>
        <td>{{ d.ataVersionMinor }}</td>
        <td>{{ d.ataVersionMajor }}</td>
        <td>{{ d.ataVersionName }}</td>
        <td>{{ d.sataSpeed }}</td>
        <td>{{ d.smartOK }}</td>
        <td>{{ d.hasErrorRecovery }}</td>
        <td>{{ d.powerOnHours }}</td>
        <td>{{ d.powerCycleCount }}</td>
        <td>{{ d.temperature }}</td>
      </tr>
    </tbody>
  </table>
</div>
